*.o
*.la
*.lo
*.Plo
*~
config.h.in
configure
autom4te.cache
config
CVS
plugin/build_settings
Makefile.common
Makefile.config
Makefile.in
Makefile
libtool
*.Po
.libs
plugin/.deps
config.h
config.log
config.status
stamp-h1
tempo2
T2runtime/plugins
*..t2
.*.swp
getPeriod
TKlongdouble.h
testEndToEnd
aclocal.m4
config.h.in~
